<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JPYTFB5SFV"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-JPYTFB5SFV');
</script>
<!-- End of Google tag (gtag.js) -->


<footer class="footer mt-auto py-3 mx-auto justify-content-center text-center container-fluid w-100"
        th:fragment="footer">
    <div class="container mx-auto justify-content-center text-center">
        <span class="copyright-text text-muted mx-auto justify-content-center text-center">
            ©<span id="year" class="text-muted">&nbsp;</span>&nbsp;Mostafa Wahied. All Rights Reserved</span>
    </div>
    <!--lottie-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script th:src="@{/js/index.js}" defer></script>

</footer>

</body>
</html>