<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto&display=swap"
          rel="stylesheet">
    <!--google icons-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script th:src="@{/js/script.js}" defer></script>
    <title>TakeNote</title>
</head>

<body class="d-flex flex-column h-100">

<main>
    <div class="main-container">
        <!-- NavBar -->
        <div th:replace="~{fragments/navigation :: navigation}"></div>
        <!-- End of Navbar -->

        <!-- Hero -->
        <section class="row m-2 p-2 pt-3 mx-md-4 px-md-5">
            <div class="row mx-auto justify-content-center my-auto mx-md-5 px-md-4">

                <p class="display-6 text-center">About <span class="about-takenote-title">TakeNote</span></p>

                <div class="col-sm-auto col-md-5">
                    <div>
                        <img id="about-img" th:src="@{/image/about.jpg}" alt="Homepage Picture" class="img-fluid"
                             src="">
                    </div>
                </div>
                <div class="col-12 col-md-7 pt-md-4">
                    <p class="about-p"><span class="about-takenote-title">TakeNote</span> is designed by teachers
                        for
                        teachers
                        to easily capture, store and analyze formative data all in one place. No more binders, no
                        more
                        sticky
                        notes. More of doing what you do best — providing high-quality, tailored instruction that
                        meets
                        your
                        students where they're at.</p>
                    <p class="about-p">Capture observational notes and conduct ongoing formative assessment.
                        TakeNote
                        records:</p>
                    <div class="d-flex pt-3">
                        <span class="about-symbol material-symbols-outlined">add_circle</span>
                        <p class="about-p ms-2"><strong>Strengths:</strong> What students are doing well. The skills
                            and
                            strategies that they
                            know how to do independently.</p>
                    </div>
                    <br>
                    <div class="d-flex">
                        <span class="about-symbol material-symbols-outlined">check_circle</span>
                        <p class="about-p ms-2"><strong>Teaching Points:</strong> Morsels of individualized
                            instruction
                            that take place
                            during conferences, designed to teach the skills to level up.</p>
                    </div>
                    <br>
                    <div class="d-flex">
                        <span class="about-symbol material-symbols-outlined">arrow_circle_up</span>
                        <p class="about-p ms-2"><strong>Next Steps:</strong> Make plans for what you and your
                            student
                            can do
                            to keep growing their skills.</p>
                    </div>
                    <br>
                    <div class="ms-4">
                        <div class="d-flex">
                            <span class="label material-symbols-outlined">label</span>
                            <p class="about-p ms-2">With <span class="about-takenote-title">NoteTaker</span>, easily
                                capture data while
                                conferencing.</p>
                        </div>
                        <div class="d-flex">
                            <span class="label material-symbols-outlined">label</span>
                            <p class="about-p ms-2">With <span class="about-takenote-title">NoteBook</span>, store
                                and
                                analyze data with
                                dashboards that show conferring records and help you plan for future instruction.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- End of Hero -->

    </div>
</main>
<!--footer-->
<div th:replace="~{fragments/footer :: footer}"></div>
<!--end of footer-->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>