<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto&display=swap"
          rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script th:src="@{/js/script.js}" defer></script>
    <title>TakeNote</title>
</head>

<body class="d-flex flex-column h-100">

<main>
    <div class="main-container">
        <!-- NavBar -->
        <div th:replace="~{fragments/navigation :: navigation}"></div>
        <!-- End of Navbar -->

        <!-- Hero -->
        <section class="row m-2 p-2 pt-3 m-md-4 p-md-5">
            <div class="row mx-auto justify-content-center my-auto mx-md-5 px-md-4">

                <div class="order-2 order-sm-1 col-12 col-md-5 mt-md-5 pt-md-2">
                    <div class="container">
                        <p class="title-text">Notes at your fingertips</p>
                        <!-- </div> -->
                        <hr>
                        <!-- <div> -->
                        <p class="desc-text">All your notes, all in one place. Elevate student
                            learning
                            with features to capture and analyze observational data in a snap.</p>
                        <button id="btn-index" class="rounded-pill">Start now</button>
                    </div>
                </div>

                <div class="order-1 order-sm-2 col-12 col-md-7 m-3 m-md-0">
                    <div>
                        <img id="home-img" th:src="@{/image/home.jpg}" alt="Homepage Picture" class="img-fluid" src="">
                    </div>
                </div>

            </div>
        </section>
        <!-- End of Hero -->
    </div>
</main>

<!--footer-->
<div th:replace="~{fragments/footer :: footer}"></div>
<!--end of footer-->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>