<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto&display=swap"
          rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script th:src="@{/static/script.js}" defer></script>
    <title>TakeNote - NoteTaker Reading</title>
</head>
<body class="d-flex flex-column h-100">
<!-- NavBar -->
<div th:replace="~{fragments/navigation :: navigation}"></div>
<!-- End of Navbar -->

<main>
    <section class="container row pt-3 mx-md-4 px-md-5">
        <div class="container row mx-auto justify-content-center my-auto mx-md-5 px-md-4">

            <div class="container confer-main-container">
                <br>
                <p class="display-6 text-center">Choose Conference Type</p>

                <div class="container row px-5">
                    <div class="row mx-auto justify-content-center">
                        <div class="col">
                            <div class="card h-100">
                                <!--          <img src="..." class="card-img-top" alt="...">-->
                                <div class="card-body">
                                    <h5 class="card-title mx-auto text-center">1:1 Conference</h5>
                                    <div class="row mx-auto text-center mt-4">
                                        <p class="card-text"><a th:href="@{/notetaker/reading/1on1}"
                                                                class="universal-btn btn-bd-primary-index">Choose</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col">
                            <div class="card h-100">
                                <!--          <img src="..." class="card-img-top" alt="...">-->
                                <div class="card-body">
                                    <h5 class="card-title mx-auto text-center">Guided Reading</h5>
                                    <div class="row mx-auto text-center mt-4">
                                        <p class="card-text"><a class="universal-btn btn-bd-primary-index">Choose</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col">
                            <div class="card h-100">
                                <!--          <img src="..." class="card-img-top" alt="...">-->
                                <div class="card-body">
                                    <h5 class="card-title mx-auto text-center">Strategy Group</h5>
                                    <div class="row mx-auto text-center mt-4">
                                        <p class="card-text"><a class="btn-bd-primary-index">Choose</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                    <hr>
                    <br>
                </div>

                <div class="container d-flex justify-content-center">
                <a class="btn btn-light justify-content-center" th:href="@{/notebook/students}">Back to Students</a>
                </div>

            </div>

        </div>
    </section>
</main>

<!--footer-->
<div th:replace="~{fragments/footer :: footer}"></div>
<!--end of footer-->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>