<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto&display=swap"
          rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script th:src="@{/static/script.js}" defer></script>
    <title>TakeNote - NoteBook Reading</title>
</head>
<body class="d-flex flex-column h-100">

<!-- NavBar -->
<div th:replace="~{fragments/navigation :: navigation}"></div>
<!-- End of Navbar -->

<figure class="text-center">
    <p class="display-6 text-center pt-5">My Students<br>Reading</p>
</figure>

<!--Students table-->
<div class="container">
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Reading Level</th>
                <th scope="col">Reading<br>Date Last Met</th>
                <th scope="col">Next Step</th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="student : ${students}">
                <tr th:each="meeting : ${student.meetings}" }>
                    <td th:text="${student.firstName}" th:if="${meeting.subject=='reading'}"></td>
                    <td th:text="${student.lastName}" th:if="${meeting.subject=='reading'}"></td>
                    <td th:text="${meeting.subjectLevel}" th:if="${meeting.subject=='reading'}"></td>
                    <td th:text="${meeting.date}" th:if="${meeting.subject=='reading'}"></td>
                    <td th:text="${meeting.nextStep}" th:if="${meeting.subject=='reading'}"></td>
                </tr>
            </th:block>

            </tbody>
        </table>
    </div>
</div>

<!--footer-->
<div th:replace="~{fragments/footer :: footer}"></div>
<!--end of footer-->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>