body {
    font-family: 'Roboto', sans-serif !important;
}
/* buttons */
/* google icons */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.label {
    font-variation-settings: 'FILL' 1;
    color: #6ba7ba;
    font-size: 1.6rem;
    font-weight: lighter;
}

.about-symbol {
    color: #1ba959;
    font-size: 1.5vw;
}

.students-symbol {
    color: #fd6048;
    font-size: 1.35rem;
    font-variation-settings: 'wght' 300,
    'FILL' 0;
}

.students-symbol:hover {
    color: black;
    font-size: 1.35rem;
    font-variation-settings: 'wght' 300,
    'FILL' 0;
}

/* End of google icons */

/* Buttons */

.logout-link a, .login-link a {
    font-size: 0.9rem;
}

.modal-btn:hover {
    background-color: #fc5a41 !important;
    border: 1px solid #fc5a41 !important;
    color: white !important;
}

.modal-btn:hover .about-symbol {
    color: white !important;
}

.close-btn {
    color: #fa3e21 !important;
    border: none !important;
    background-color: white !important;
}

.close-btn .material-symbols-outlined {
    color: #fa3e21 !important;
    font-size: 1.2rem;
}

.close-btn .material-symbols-outlined:hover {
    color: white !important;
    background-color: #fc5a41 !important;
    font-size: 1.2rem;
}

.btn-primary {
    background-color: #fc5a41 !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #fa3e21 !important;
    transition: 0.3s ease-in-out !important;
    transform: scale(1.04);

}

#back-to-students-btn {
    background-color: white !important;
    border: 1px solid #fc5a41 !important;
    color: #fc5a41 !important;
}

#student-btn:hover {
    background-color: #fc5a41 !important;
    border: 1px solid #fc5a41 !important;
    color: white !important;
}

/* End of buttons */

/* Navbar */
#navbar {
    width: 100%;
}

.nav-link {
    font-size: 0.9rem !important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
}

.navbar-brand {
    /*font-size: 1rem;*/
    letter-spacing: 5px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.take-span {
    color: #406672a9;
}

.note-span {
    color: #6ba7baad;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}

.navbar-nav li a {
    font-family: 'Montserrat', sans-serif;
    color: #6ba7baad;
    /*font-size: medium;*/
    font-weight: 500;
}

.navbar-nav > li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar.navbar-light .nav-item .nav-link:hover {
    color: #FF735C !important;
    padding-bottom: 5% !important;
    border-bottom: 2px solid #FF735C !important;
}

.nav-item a.active {
    /*font-size: medium;*/
    font-weight: 500;
    color: #ff725ce2 !important;
    padding-bottom: 5%;
    border-bottom: 2px solid #ff725ce2;
}

/* End of navbar */

#home-img {
    margin-top: -20px;
    height: auto;
}

.title-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    line-height: 120%;
}

hr {
    width: 20vw;
    border: 3px solid black;
    height: 4px;
    margin-top: 6% !important;
}

.desc-text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
}

.about-takenote-title {
    color: #fd6048;
}

.about-takenote-titles {
    color: #fd6048;
    text-decoration: none;
}

.about-takenote-titles:hover {
    color: #ff2200;
    text-decoration: underline;
}

.about-p {
    font-size: medium;
}

.fa-circle-plus {
    height: 1vw;
}

#about-img {
    height: auto;
}

.footer {
    /*background-color: #f5f5f5;*/
    width: 100% !important; /* add this rule */
    display: block;
}

td {
    text-transform: none;
    width: 15%;
}

.confer-main-container {
    /*max-width: 40vw !important;*/
}

.selectpicker {
    background-color: white !important;
}

#login-img {
    /*height: 80%;*/
    width: 70%;
}

#signup-img {
    /*height: 80%;*/
    width: 70%;
}

.confer-img {
    width: 70%;
}

.copyright-text {
    font-size: 0.75rem;
}

/*preloader*/
#preloader {
    background: #ffffff center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

svg.tea {
    --secondary: #fd6048;
}

svg.tea #teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    animation: swing 2s infinite;
}

svg.tea #steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
}

svg.tea #steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
}

@-moz-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-webkit-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-o-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-moz-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-webkit-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-o-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-moz-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@-webkit-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@-o-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

/*end of preloader*/

/*small screens only*/
@media only screen and (max-width: 480px) {
    .btn-general {
        width: 100% !important;
        min-height: 35px !important;
        min-width: 80%;
        line-height: 35px !important;
        display: block;
        padding: 0;
        font-size: 6vw !important;
        text-align: center;
        margin-top: 5%;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    .card {
        min-width: 80% !important;
    }

    .material-symbols-outlined {
        /*font*/
    }

    .students-symbol {
        font-size: 1.4rem;
    }
}


/*custom colors*/
.color-1 {
    color: #fc5a41 !important;
}

.color-2 {
    color: #fd6048 !important;
}

.color-3 {
    color: #6ba7ba !important;
}

.color-4 {
    color: #B7AC44 !important;
}

.bg-color-1 {
    background-color: #fc5a41 !important;
}

.bg-color-2 {
    background-color: #fd6048 !important;
}

.bg-color-3 {
    background-color: #6ba7ba !important;
}

.bg-color-4 {
    background-color: #B7AC44 !important;
}

.bg-gradient-1 {
    background: linear-gradient(135deg, #406672 0%, #6ba7ba 100%);
}

.bg-color-white {
    background-color: white !important;
}

.bg-gradient-2 {
    background: linear-gradient(135deg, #6ba7ba 0%, #406672 100%);
}

.bg-color-1-hover:hover {
    background-color: #ff2200 !important;
    color: white !important;
}

.bg-color-2-hover:hover {
    background-color: #fd6048 !important;
    color: white !important;
}

.bg-color-3-hover:hover {
    background-color: #6ba7ba !important;
    color: white !important;
}

.bg-color-4-hover:hover {
    background-color: #B7AC44 !important;
    color: white !important;
}

.bg-color-white-hover:hover {
    background-color: white !important;
    color: black !important;
}

.bg-gradient-1-hover:hover {
    background: linear-gradient(135deg, #ff2200 0%, #fd6048 100%);
    color: white !important;
}

.bg-gradient-2-hover:hover {
    background: linear-gradient(135deg, #406672 0%, #6ba7ba 100%);
    color: white !important;
}


/*table rounded corners*/
thead th:first-child {
    border-top-left-radius: 9px;
}

thead th:last-child {
    border-top-right-radius: 9px;
}

tbody tr:last-child :first-child {
    border-bottom-left-radius: 9px;
}

tbody tr:last-child :last-child {
    border-bottom-right-radius: 9px;
}