/* buttons */
/* google icons */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.label {
    font-variation-settings: 'FILL' 1;
    color: #6ba7ba;
    font-size: 1.3vw;
    font-weight: lighter;
}

.about-symbol {
    color: #1ba959;
    font-size: 1.5vw;
}

.students-symbol {
    color: black;
    font-size: 1.2vw;
    font-variation-settings: 'wght' 300,
    'FILL' 1;
}

.btn-light {
    /*background-color: #e5e3e3 !important;*/
    background-color: #f8e5e1 !important;
    /*background-color: rgba(187, 210, 217, 0.53) !important;*/
}

#btn-index {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
    color: #fff;
    background-color: #fc5a41;
    border: none !important;
    padding: 0.9vw 0.9vw !important;
    margin-top: 14%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

#btn-index:hover {
    background-color: #fa3e21 !important;

}

.btn-bd-primary-index {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: #fff;
    background-color: #ff725c;
    border-radius: 20px;
    border: none !important;
    padding: 0.5vw 0.5vw;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.btn-bd-primary-index:hover {
    color: white;
    background-color: #fc5036 !important;
}


.btn-bd-primary:hover {
    background-color: #fc5036;
}

.confer-btn:hover {
    background-color: #fc5036 !important;
}

.confer-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    color: #fff;
    background-color: #fd6048 !important;
    border-radius: 20px;
    border: none !important;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.update-btn {
    background-color: transparent !important;
    border: none !important;
}

.update-btn:hover {
    /*border: 1px solid #6ba7ba !important;*/
}

.delete-btn {
    background-color: transparent !important;
    border: none !important;
}

.delete-btn:hover {
    /*border: 1px solid #ff725ce2 !important;*/
}

#add-student-btn {
    background-color: #ff725c !important;
    border: none !important;
    width: 7vw !important;
    font-size: 0.8vw;
    text-align: center;
    text-decoration: none;
    padding: 0.5vw;
}

#add-student-btn:hover {
    background-color: #fc5036 !important;
    border: none !important;
    color: white;
}

/* Navbar */
.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.take-span {
    color: #406672a9;
}

.note-span {
    color: #6ba7baad;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}

.navbar-nav li a {
    font-family: 'Montserrat', sans-serif;
    color: #6ba7baad;
    font-size: medium;
    font-weight: 500;
}

.navbar-nav > li {
    margin-left: 2rem;
    margin-right: 2rem;
}

.navbar.navbar-light .nav-item .nav-link:hover {
    color: #FF735C !important;
    padding-bottom: 5% !important;
    border-bottom: 2px solid #FF735C !important;
}

.nav-item a.active {
    font-size: medium;
    font-weight: 500;
    color: #ff725ce2 !important;
    padding-bottom: 5%;
    border-bottom: 2px solid #ff725ce2;
}

/* End of navbar */

#home-img {
    margin-top: -20px;
    height: auto;
}

.title-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    line-height: 120%;
}

hr {
    width: 20vw;
    border: 3px solid black;
    height: 4px;
}

.desc-text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
}

.about-takenote-title {
    color: #fd6048;
}

.about-p {
    font-size: medium;
}

.fa-circle-plus {
    height: 1vw;
}

#about-img {
    height: auto;
}

.footer {
    background-color: #f5f5f5;
}

td {
    text-transform: capitalize;
}

.confer-main-container {
    max-width: 40vw !important;
}